<!DOCTYPE html>
<html lang="pt-br">
<head>
    {{> header title="Início - Ecommerce" }}
</head>
<body>
    {{> nav }}
    <div class="container">
        <h1>Bem vindo ao nosso ecomerce!</h1>
    </div>
</body>
</html>